/* NAVBAR */
.navbar-layout{
    background-color: #0F257C;
}

.navbar-layout a{
    color: white;
    font-size: 0.85rem;
}

.dropdown-item{
    color: black;
    font-size: 0.85rem;
}

/* HAMBURGUER MENU */
.navbar-nav li{
    text-align: center;
}

.dropdown-menu{
    text-align: center;
}

@media screen and (min-width:200px){

    .navbar-layout-img1{
        width: 32px;
        height: 24px;
    }
    .navbar-layout-img2{
        width: 26px;
        height: 24px;
    }
    .navbar-brand{
        font-size: 0.65rem;
    }
}

@media screen and (min-width:1024px){

    .navbar-layout-img1{
        width: 46px;
        height: 33px;
    }
    .navbar-layout-img2{
        width: 38px;
        height: 34px;
    }
    .navbar-brand{
        font-size: 1rem;
    }
}


/* NAVBAR END

/* ***************************************************************************** */

/* CAROUSEL */

@media screen and (min-width:200px){

    .bd-example .carousel-inner img{
        height: 28rem;
        object-fit: cover;
    }

    h5{
        font-size: 1.1rem;
        color: #304199;
    }

}

@media screen and (min-width:1024px){

    .bd-example .carousel-inner img{
        height: 35rem;
        object-fit: cover;
    }

    h5{
        font-size: 2rem;    
        color: #304199;
    }


}

/* ***************************************************************************** */

/* POSGRADOS */
.posgrados-items:hover{
    background: rgb(24, 58, 194);
}

.posgrados{
    background: #0F257C;
    text-align: center;
}

.posgrados a{
    color: white;
    text-decoration: none;
}

.posgrados-layout{
    background: #0F257C;
}

@media screen and (min-width:200px){

    .posgrados a{
        font-size: 1.1rem;
    }
    
}

@media screen and (min-width:1024px){

    .posgrados a{
        font-size: 1.4rem;
    }

}

/* ***************************************************************************** */

